<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<!-- 配置所有action访问时都必须验证登录状态 -->
	<filter>
		<filter-name>login_filter</filter-name>
		<filter-class>com.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>login_filter</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	<!-- 配置struts2默认filter，默认拦截处理所有请求 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 配置首页 -->
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
</web-app>