<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.function.ClassCenterMapper">
	
	<select id="getGroups" resultType="com.model.ClassGroup">
		select * from classgroup where classid = 
		(select classid from userinfo where username = #{username})
	</select>
	
	<insert id="addGroup" parameterType="com.model.ClassGroup"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO classgroup(classid,type,manager,members,setuptime,comment)
		VALUES (#{classid},#{type},#{manager},#{members},#{setuptime},#{comment})
	</insert>
	
	<!-- <select id="getUserInfo" resultType="com.model.Student">
		select * from userinfo where username = #{username}
	</select>
	
	<select id="searchClass" resultType="com.model.ClassInfo">
		select * from classinfo where classid = 
		(select classid from userinfo where userinfo.username= #{username} )
	</select> -->
	
	<!-- <select id="getUserScores" resultType="com.model.ScoreView">
		SELECT score.username,score.subid,subinfo.sub,subinfo.starttime,subinfo.subscore,score.score 
		FROM score INNER JOIN subinfo ON score.subid=subinfo.subid 
		<where>
			<if test="username!=null and username!=''">
				score.username = #{username}
			</if>
			<if test="subEndTime!=null and subEndTime!=''">
				and subinfo.starttime &lt;= #{subEndTime}
			</if>
			<if test="subStartTime!=null and subStartTime!=''">
				and subinfo.starttime &gt;= #{subStartTime}
			</if>
		</where>
	</select>
	
	<select id="getAllUsers" resultType="com.model.Student">
		select * from userinfo
	</select>
	
	<select id="getUserAttendances" resultType="com.model.Attendance">
		SELECT a.*, YEARWEEK(a.time) AS week FROM attendance AS a
		<where>
			<if test="username!=null and username!=''">
				a.username = #{username}
			</if>
			<if test="attStart!=null and attStart!=''">
				and a.time &gt;= #{attStart}
			</if>
			<if test="attEnd!=null and attEnd!=''">
				and a.time &lt;= #{attEnd}
			</if>
			<if test="attWeek!=null and attWeek!=''">
				and YEARWEEK(a.time) = #{attWeek}
			</if>
		</where>
	</select> -->
	
</mapper>