<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.function.ClassCenterMapper">
	
	<select id="getGroups" resultType="com.model.ClassGroup">
		select * from classgroup where classid = 
		(select classid from userinfo where username = #{username})
	</select>
	
	<insert id="addGroup" parameterType="com.model.ClassGroup"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO classgroup(classid,type,manager,members,setuptime,comment)
		VALUES (#{classid},#{type},#{manager},#{members},#{setuptime},#{comment})
	</insert>
	
	<select id="getClassfares" resultType="com.model.Classfare">
		SELECT * FROM classfare 
		<where>
			<if test="classid!=null and classid!=''">
				classid = #{classid}
			</if>
			<if test="startTime!=null and startTime!=''">
				and time &gt;= #{startTime}
			</if>
			<if test="endTime!=null and endTime!=''">
				and time &lt;= #{endTime}
			</if>
		</where>
	</select>
	
	<insert id="addClassfare" parameterType="com.model.Classfare"
		useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO classfare(classid,time,activity,expend,income,comment)
		VALUES (#{classid},#{time},#{activity},#{expend},#{income},#{comment})
	</insert>
	
	<select id="getClassCources" resultType="com.model.Cource">
		select * from cource where classid = #{classid} order by cource.weekday asc,cource.daydivide asc
	</select>
	
	
</mapper>